@use '../../styles/variables.scss' as vars;

.blogpost {
  display: flex;
  align-items: center;
  gap: 32px;

  &:hover {
    transition: transform 0.4s linear;
    transform: scale(1.01);
  }

  &:hover .imageContainer img {
    transition: transform 0.4s linear;
    transform: scale(0.9);
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 490px;
  }

  .info {
    @include vars.flexColumn();
    max-width: 624px;

    .blogtitle {
      margin-top: 20px;
      margin-bottom: 16px;
    }
  }
}
