@use '@/styles/variables.scss' as vars;

.wrapper {
  @include vars.flexCenter();

  height: 48px;
  font-size: 14px;
  font-family: vars.$font-family-sen;
  border: 2px solid vars.$color-medium-gray;
  opacity: 0.7;
  border-radius: 28px;
  padding: 0 11px;
  cursor: pointer;

  &:hover {
    background-color: vars.$color-light-yellow;
  }

  @media screen and (max-width: vars.$breakpoint-mobile-small) {
    padding: 0 5px;
  }
}

.wrapper.active {
  opacity: 1;
  border: 2px solid vars.$color-purple;
}
