@use '@/styles/variables.scss' as vars;

.wrapper {
  overflow: hidden;

  .headingStyle {
    @media screen and (max-width: vars.$breakpoint-mobile) {
      @include vars.flexAlignCenterBetween;

      border-bottom: 1px solid vars.$color-black;
      margin-bottom: 20px;
    }
  }

  .content {
    @media screen and (max-width: vars.$breakpoint-mobile) {
      max-height: 0;
      transition: max-height 0.3s linear;
      visibility: hidden;
    }
  }

  .content.active {
    @media screen and (max-width: vars.$breakpoint-mobile) {
      max-height: 400px;
      visibility: visible;
    }
  }

  .button {
    display: none;

    @media screen and (max-width: vars.$breakpoint-mobile) {
      display: block;
    }
  }
}
