@use '@/styles/variables.scss' as vars;

.wrapper {
  @include vars.flexColumnWithGap(8px);

  padding: 32px 116px 25px 32px;

  @media screen and (max-width: vars.$breakpoint-tablet) {
    padding: 32px;
  }

  &:hover {
    background-color: vars.$color-light-yellow;
  }
}
