@use '../../../styles/variables.scss' as vars;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: vars.$color-black;
  padding: 59px 80px 56px;
  gap: 48px;

  .top,
  .body,
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .top {
    align-items: center;
  }

  .blogName,
  .message {
    color: vars.$color-white;
  }

  .body {
    padding: 80px 64px;
    gap: 64px;
    align-items: center;
    background-color: vars.$color-footer-dark-gray;
  }

  .message {
    word-spacing: -1px;
    letter-spacing: -2px;
  }

  .form {
    display: flex;
    gap: 24px;
  }

  .input {
    width: 323px;
    padding: 14px 25px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid vars.$color-dark-gray;
    color: var(--white);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: vars.$color-medium-gray;
    }
  }

  .bottom {
    display: flex;
    gap: 24px;
    color: vars.$color-white;
  }

  .companyInfo {
    opacity: 70%;
    span {
      line-height: 28px;
    }
  }

  .media {
    display: flex;
    gap: 27px;
  }
}
