@use '../../../styles/variables.scss' as vars;

.wrapper {
  @include vars.flexCenter;

  background-color: vars.$color-black;
}

.footer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 59px 80px 56px;
  gap: 48px;

  .top,
  .body,
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .top {
    align-items: center;
  }

  .blogName,
  .message {
    color: vars.$color-white;
  }

  .body {
    padding: 80px 64px;
    gap: 64px;
    align-items: center;
    background-color: vars.$color-footer-dark-gray;
  }

  .bottom {
    display: flex;
    gap: 24px;
    color: vars.$color-white;
  }

  .companyInfo {
    opacity: 70%;
  }

  .media {
    display: flex;
    gap: 27px;
  }
}
