@use '../../../../styles/variables.scss' as vars;

.pattern {
  width: 100%;
  padding-left: 200px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);

  @media screen and (max-width: 1100px) {
    padding-right: 20px;
  }
}

.wrapper {
  background-color: vars.$color-lavender;
}

.mission {
  position: relative;
  padding: 96px 108px 96px 80px;

  .missionBody {
    display: flex;
    justify-content: space-between;
    gap: 61px;

    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;

      & > * {
        text-align: center;
        width: 100%;
      }
    }

    .missionItem {
      max-width: 515px;
      flex: 1 1 0px;

      @media screen and (max-width: 1100px) {
        flex: none;
        width: 100%;
        max-width: 100%;
      }
    }

    .missionItemBody {
      @include vars.flexColumn();

      margin-top: 24px;
      gap: 16px;

      a {
        width: fit-content;
      }

      @media screen and (max-width: 1100px) {
        align-items: center;
      }
    }
  }
}
