@use '../../../../styles/variables.scss' as vars;

.reason {
  .message {
    position: relative;
  }

  .imageContainer {
    width: 100%;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .messageBody {
    padding: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    max-width: 706px;

    @media screen and (max-width: 1000px) {
      position: static;
      padding: 0;

      * {
        display: block;
        text-align: center;
        width: 100%;
      }

      a {
        display: flex;
        justify-content: center;
      }

      button {
        width: fit-content;
      }
    }

    h1 {
      margin-top: 24px;
      margin-bottom: 16px;
    }

    button {
      margin-top: 32px;
    }
  }
}
