.container {
  padding: 32px;
  max-width: 296px;
  border: 1px solid var(--medium-gray);

  div {
    width: 48px;
    height: 48px;
    border-radius: 9px;
    background-color: var(--light-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  &:hover {
    background-color: var(--yellow);
  }
}

.minimal {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    margin: 0;
  }
}
