@use '@/styles/variables.scss' as vars;

.invitation {
  @include vars.flexCenter();

  padding-bottom: 128px;
  margin: auto;
  flex-direction: column;
  text-align: center;

  h2,
  p {
    max-width: 414px;
  }

  p {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  a {
    width: fit-content;
  }
}
