:root {
  --black: #232536;
  --white: #fff;
  --dark-yellow: #edc14a;
  --yellow: #ffd050;
  --light-yellow: #fbf6ea;
  --purple: #592ea9;
  --dark-gray: #4c4c4c;
  --medium-gray: #6d6e76;
  --light-gray: #f4f4f4;
  --lavender: #f4f0f8;
  --footer-dark-gray: #2e3040;
}

@mixin heading($size, $line, $spacing) {
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sen);
}

p {
  line-height: 28px;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.display,
h1 {
  @include heading(56px, 64px, -2px);
  line-height: 64px;
  font-size: 56px;
  font-weight: 700;
}

*[class*='flex'] {
  display: flex;
}

*[class*='center'] {
  justify-content: center;
  align-items: center;
}

*[class*='column'] {
  flex-direction: column;
}

h1 {
  font-size: 48px;
}

html,
body {
  font-family: var(--font-inter);
  height: 100vh;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

ul {
  list-style: none;
}
