$color-black: #232536;
$color-white: #fff;
$color-dark-yellow: #edc14a;
$color-yellow: #ffd050;
$color-light-yellow: #fbf6ea;
$color-purple: #592ea9;
$color-dark-gray: #4c4c4c;
$color-medium-gray: #6d6e76;
$color-light-gray: #f4f4f4;
$color-lavender: #f4f0f8;
$color-footer-dark-gray: #2e3040;