@use '../../styles/variables.scss' as vars;

.wrapper {
  @include vars.flexColumn();
  gap: 32px;
  max-width: 405px;
  padding: 10px;

  &:hover {
    background-color: vars.$color-light-yellow;
  }

  .imageContainer {
    width: 100%;
    overflow: hidden;
    @include vars.flexCenter();
  }

  .content {
    @include vars.flexColumn();
    gap: 16px;
  }
}
