@use '../../styles/variables.scss' as vars;

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  .user {
    display: flex;
    gap: 10px;

    .userInfo {
      @include vars.flexColumn();

      gap: 10px;
    }
  }
}
