@mixin button-style($base-back, $hover-back) {
  background-color: $base-back;

  &:hover {
    background-color: $hover-back;
  }
}

.button {
  padding: 16px 48px;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  @include button-style(var(--white), var(--light-gray));
  width: fit-content;
}

.colored {
  @include button-style(var(--yellow), var(--dark-yellow));
}
