@use '../../../styles/variables.scss' as vars;

.wrapper {
  @include vars.flexCenter();
  width: 100%;
}

.content {
  max-width: 1440px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;

  @media screen and (max-width: vars.$breakpoint-mobile) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
