@use '../../styles/variables.scss' as vars;

.container {
  background-color: vars.$color-light-gray;
  padding: 40px 28px;
  max-width: 296px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
  }

  .links {
    display: flex;
    gap: 16px;
  }

  .info {
    h3 {
      text-align: center;
    }

    p {
      font-size: 14px;
      color: vars.$color-medium-gray;
    }
  }

  &:hover {
    background-color: vars.$color-light-yellow;
  }
}
