@use '../../styles/variables.scss' as vars;

.container {
  background-color: vars.$color-light-gray;
  padding: 40px 28px;
  max-width: 296px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
  }

  .links {
    display: flex;
    gap: 16px;
  }

  .info {
    h3 {
      text-align: center;
    }

    p {
      font-size: 14px;
      color: vars.$color-medium-gray;
    }
  }

  &:hover {
    background-color: vars.$color-light-yellow;
  }

  @media screen and (max-width: vars.$breakpoint-mobile) {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr;

    max-width: 500px;

    .avatar {
      @include vars.flexCenter;

      grid-row: 1 / 3;
      grid-column: 1 / 2;

      height: 90px;
      width: 90px;
      overflow: hidden;
    }

    .info {
      text-align: center;
    }

    .links {
      justify-content: center;
    }
  }
}
