@use '../../../../styles/variables.scss' as vars;

.postblog {
  @include vars.flexColumn();

  gap: 128px;
}

.main {
  @include vars.flexColumn();

  gap: 64px;
  align-items: center;
}

.innerHeading {
  @include vars.flexColumn();

  max-width: 768px;
  padding-top: 128px;
  margin-bottom: 64px;

  .author {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .heading {
    margin-top: 24px;
    margin-bottom: 34px;
  }

  .category {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.article {
  max-width: 843px;
}

.nextReadHeading {
  margin-bottom: 0;
}

.list {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid rgba(vars.$color-medium-gray, 0.3);
}
