@use '../../../styles/variables.scss' as vars;

@mixin basepadding {
  padding: 0 80px;
}

@mixin absolute-strecth {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.baseWrapper {
  @include vars.flexCenter();
}

.baseContentWrapper {
  max-width: 1440px;
  padding: 0 80px;
}

.home {
  gap: 128px;
}

p {
  color: var(--medium-gray);
}

.cap {
  text-transform: uppercase;
}

.colored {
  color: var(--purple);
}

@mixin top-bottom-padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

.hero {
  position: relative;
  padding-top: 128px;
  padding-bottom: 192px;

  .hero__image {
    @include absolute-strecth;

    overflow: hidden;
    justify-content: flex-start;

    .overlay {
      @include absolute-strecth;
      height: 100%;
      z-index: 2;
      background: radial-gradient(#0000, #0009);
    }
  }

  .hero__content {
    margin-bottom: 48px;
    position: relative;
    color: var(--white);
    gap: 24px;
    z-index: 3;

    .host {
      text-transform: uppercase;
      letter-spacing: 3px;

      .bold {
        font-weight: 900;
      }
    }

    .display {
      letter-spacing: -2px;
      max-width: 803px;
      width: 100%;
    }

    .author {
      color: var(--yellow);
    }

    p {
      max-width: 600px;
      color: var(--white);
    }
  }

  & button {
    position: relative;
    z-index: 3;
  }
}

@mixin related-width($width) {
  width: calc($width / 1280px * 100%);
}
