@use '../../../styles/variables.scss' as vars;

.wrapper {
  @include vars.flexCenter;
  background-color: vars.$color-black;
}

.header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 80px 18px 56px;

  .blogName {
    color: vars.$color-white;
  }

  .controls {
    display: flex;
    gap: 36px;
    align-items: center;
  }
}
