@use '../../../styles/variables.scss' as vars;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$color-black;
  padding: 18px 80px 18px 56px;

  .blogName {
    color: vars.$color-white;
  }

  .controls {
    display: flex;
    gap: 36px;
    align-items: center;
  }
}
