@use '../../../../styles/variables.scss' as vars;

.blog {
  @include vars.flexColumn();
  gap: 128px;
}

.wrapper {
  background-color: vars.$color-lavender;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 20px;

  .content {
    @include vars.flexColumn();
    max-width: 624px;

    .message {
      @include vars.flexColumn();
      gap: 16px;
      margin-top: 20px;
      margin-bottom: 32px;
    }

    @media screen and (max-width: 768px) {
      * {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    padding: 20px;

    .imageContainer {
      @include vars.flexCenter();
      overflow: hidden;
      max-width: 100%;
    }
  }
}

.listHeading {
  padding-bottom: 32px;
  border-bottom: 1px solid vars.$color-medium-gray;
}

.blogposts {
  @include vars.flexColumn();
  gap: 64px;
}

.blogpostsControls {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 64px;

  .controlsContainer {
    max-width: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
  }

  .controlInactive {
    color: vars.$color-medium-gray;
    font-size: 24px;
  }
}
