@use '@/styles/variables.scss' as vars;

.wrapper {
  background-color: vars.$color-light-yellow;
}

.controls {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: vars.$color-light-yellow;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;

  @media screen and (max-width: vars.$breakpoint-mobile) {
    position: static;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }

  .arrow {
    user-select: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 0.4s linear;

    img {
      filter: invert(100%);
    }
  }

  .arrow.left {
    img {
      transform: rotate(180deg);
    }
  }

  .arrow.active {
    cursor: pointer;
    width: 62px;
    height: 62px;
    background-color: var(--black);

    img {
      filter: invert(0);
    }

    @media screen and (max-width: vars.$breakpoint-mobile) {
      width: 50px;
      height: 50px;
    }
  }
}

.testimonials {
  padding: 80px 111px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: vars.$breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  @media screen and (max-width: vars.$breakpoint-mobile) {
    padding: 20px 40px;
  }

  .description {
    max-width: 349px;
    width: 100%;
    padding-top: 12px;
    flex: 1 1 0px;

    h2 {
      margin-top: 12px;
      margin-bottom: 16px;
    }

    p {
      color: var(--black);
    }

    @media screen and (max-width: vars.$breakpoint-tablet) {
      &,
      * {
        text-align: center;
        width: 100%;
        display: block;
        max-width: none;
      }
    }
  }

  .delimiterContainer {
    height: 301px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: vars.$breakpoint-laptop) {
      display: none;
    }

    .delimiter {
      height: 100%;
      margin-left: 80px;
      margin-right: 96px;
      border-right: 1px solid var(--medium-gray);
    }
  }

  .corouselWrapper {
    position: relative;
    width: fit-content;
    max-width: 500px;
    flex: 1 1 0px;

    @media screen and (max-width: vars.$breakpoint-tablet) {
      height: 600px;
      height: 100%;
      width: 100%;
      max-width: none;
    }
  }

  .corousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h4 {
      max-width: 469px;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
