@use '@/styles/variables.scss' as vars;

.home {
  @include vars.flexColumnWithGap(128px);

  position: relative;

  @media screen and (max-width: vars.$breakpoint-mobile) {
    gap: 60px;
  }
}

.sponsors {
  @include vars.flexAlignCenterBetween;

  @media screen and (max-width: vars.$breakpoint-laptop) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    img {
      max-width: 160px;
    }

    .title {
      @include vars.flexColumn;

      align-items: center;
      flex-grow: 1;
      width: 100%;
    }
  }
}
