@use '../../../styles/variables.scss' as vars;

.home {
  @include vars.flexColumn;
  position: relative;

  gap: 128px;

  @media screen and (max-width: vars.$breakpoint-mobile) {
    gap: 60px;
  }
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: vars.$breakpoint-laptop) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    img {
      max-width: 160px;
    }

    & > div {
      @include vars.flexColumn;

      align-items: center;
      flex-grow: 1;
      width: 100%;
    }
  }
}
