@use '@/styles/variables.scss' as vars;

.hero {
  position: relative;
  padding-top: 128px;
  height: 720px;
  max-width: 1440px;
  width: 100%;
  padding: 128px 80px 0;

  @media screen and (max-width: vars.$breakpoint-mobile) {
    padding: 40px;
    height: 600px;
  }

  .image {
    @include vars.absolute-strecth();
    @include vars.flexCenter();

    justify-content: flex-start;
    overflow: hidden;

    .overlay {
      @include vars.absolute-strecth();

      height: 100%;
      z-index: 2;
      background: radial-gradient(#0000, #0009);
    }

    @media screen and (max-width: vars.$breakpoint-mobile) {
      justify-content: center;

      img {
        transform: scale(0.9);
      }
    }
  }

  .content {
    @include vars.flexColumnWithGap(24px);

    max-width: 804px;
    margin-bottom: 48px;
    position: relative;
    color: vars.$color-white;
    z-index: 3;

    .host {
      text-transform: uppercase;
      letter-spacing: 3px;

      span {
        font-weight: 900;
      }
    }

    @media screen and (max-width: vars.$breakpoint-mobile) {
      gap: 10px;
    }

    p {
      max-width: 600px;
      color: vars.$color-white;
    }
  }

  & button {
    position: relative;
    z-index: 3;
  }
}
